html, body, div, span, object, iframe, h1, p, section 
{ margin:0; padding:0; border:0; outline:0;}

body{
    width:100%;
    height:100%;
}

.nav{
    width:100%;
    height:80px;
    text-align: center;
}

.nav .menu {
    position:absolute;
    display:inline-block;
    left:30px;
    top:10px;
    width:30px; height:30px;
}

.nav .date{
    position:absolute;
    display:inline-block;
    right:30px;
    top:30px;
    font-family: 'futura', sans-serif;
    font-size:12px;
}

.nav img{
    height:60px;
    margin-top:10px;
    display:inline-block;
}

#txt{
    text-align:center;
    font-family: 'futura', sans-serif;
    font-size:29px;
    height:30px;
}

#board{
    width:100%;
    height:auto;
    text-align: center;
}

#board .modern{
    height:200px;
    margin:30px 0px;
}

#board .modern .tate{
    font-family: 'futura', sans-serif;
    display:inline-block;
    width:90px; height:90px;
    border-radius:50%;
    margin:1% 0;
    background-color:black;    
    color:white;
}

#board .modern .tate p{
    margin-top:25%;   
}

#board div{
    display: inline-block;
        background-position: center;
    background-size: cover;
}

#board .modern .three{
    height:150%;
    width:300px;
    border-radius:50%;
    background-image: url(img/three.jpg);
}

#board .modern .four{
    height:130%;
    width:260px;
    border-radius:50%;
    background-image: url(img/four.jpg);
}

#board .modern .newone{
    height:100%;
    width:200px;
    border-radius:50%;
    background-image: url(img/newone.jpg);
}

#board .modern .brone{
    height:300%;
    width:600px;
    border-radius:50%;
    background-image: url(img/brone.png);
}

#board .modern .brtwo{
    height:150%;
    width:300px;
    border-radius:50%;
    background-image: url(img/brtwo.jpg);
}

#board .modern .newtwo{
    height:100%;
    width:200px;
    border-radius:50%;
    background-image: url(img/newtwo.jpg);
}

#board .modern .lpone{
    height:160%;
    width:320px;
    border-radius:50%;
    background-image: url(img/lpone.jpg);
}

#board .modern .lpthree{
    height:130%;
    width:260px;
    border-radius:50%;
    background-image: url(img/lpthree.jpg);
}

#board .modern .newthree{
    height:100%;
    width:200px;
    border-radius:50%;
    background-image: url(img/newthree.jpg);
}

#board .modern .newfour{
    height:120%;
    width:240px;
    border-radius:50%;
    background-image: url(img/newfour.jpg);
}

#board .modern .newfive{
    height:160%;
    width:320px;
    border-radius:50%;
    background-image: url(img/newfive.jpg);
}

#board .modern .hover{
    height:100%;
    width:100%;
    border-radius:50%;
    background-color:black;
    transition: .2s ease-in-out;
}

#board .modern .hover{
    opacity:0;
    text-align: center;
    position:relative;
}

#board .modern .hover:hover {
    opacity:.8;
}

.hover p{
    position:absolute;
    margin:auto; left:0; right:0;
    margin-top:43%;
    font-family: 'futura', sans-serif;
    color:white;
    font-size:29px;
}

#countbox1{
    position:absolute;
    margin:auto; left:0; right:0;
    margin-top:43%;
    font-family: 'futura', sans-serif;
    color:white;
    font-size:39px;
    margin-top:300px;
}

.bottom{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    margin-top:240px;   
    font-family:'futura', sans-serif;
    background-color:black;
}

.bottom p{
    position:absolute;
    top:20px;
    margin:auto; left:0; right:0;
    color:white;
}

.bottom ul{
    list-style: none;   
}

.bottom ul li{
    display:inline-block;
    margin:0 10px;
    height:30%; width:30%;
}

.bottom ul li img{
    margin-top:50px;
    height:100%; width:100%;
}

.bottom ul .first{
   margin-bottom:57px;
}

.bottom ul .second{
   margin-bottom:41px;
}



