p {
  font-family: Helvetica;
  font-weight:bold;
  color: #16267e;

}


#theclock {
  width: 600px;
  height: 100px;

}

#image {
  position:static;
}

img {
  height:150px;

}

#title {
  margin-top: 80px;
  margin-left: 80px;
  font-size: 80px;
  position:fixed;

}

#gif {
  margin-left: 60px;
  margin-top: -40px;

}

#info {
  margin-left: 10px;
  margin-top: 130px;
  font-size: 20px;
}
