div {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  margin-left: -4px;
  margin-top: -4px;
}

#frame {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: white;
}

table {
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -52.5px;
}

/*
color shift

ffffff
e0e0e0
c6c6c6
aaaaaa
8e8e8e
727272
565656
3a3a3a
1e1e1e
000000
*/



@-webkit-keyframes type1 {
  0% { background-color: #e0e0e0; }
  33% { background-color: #e0e0e0; }
  34% { background-color: #aaaaaa; }
  67% { background-color: #aaaaaa; }
  68% { background-color: #3a3a3a; }
  100% { background-color: #3a3a3a; }
}

@-webkit-keyframes type2 {
  0% { background-color: #c6c6c6; }
  33% { background-color: #c6c6c6; }
  34% { background-color: #ffffff; }
  67% { background-color: #ffffff; }
  68% { background-color: #e0e0e0; }
  100% { background-color: #e0e0e0; }
}

@-webkit-keyframes type3 {
  0% { background-color: #1e1e1e; }
  33% { background-color: #1e1e1e; }
  34% { background-color: #aaaaaa; }
  67% { background-color: #aaaaaa; }
  68% { background-color: #727272; }
  100% { background-color: #727272; }
}

@-webkit-keyframes type4 {
  0% { background-color: #565656; }
  33% { background-color: #565656; }
  34% { background-color: #8e8e8e; }
  67% { background-color: #8e8e8e; }
  68% { background-color: #ffffff; }
  100% { background-color: #ffffff; }
}

@-webkit-keyframes type5 {
  0% { background-color: #727272; }
  33% { background-color: #727272; }
  34% { background-color: #c6c6c6; }
  67% { background-color: #c6c6c6; }
  68% { background-color: #3a3a3a; }
  100% { background-color: #3a3a3a; }
}

.type1 {
    background-color: black;
  -webkit-animation-name: type1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s;
}

.type2 {
    background-color: black;
  -webkit-animation-name: type2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}

.type3 {
    background-color: black;
  -webkit-animation-name: type3;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.2s;
}

.type4 {
    background-color: black;
  -webkit-animation-name: type4;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
}

.type5 {
    background-color: black;
  -webkit-animation-name: type5;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.8s;
}
