a href{
	text-align: justify;
	vertical-align:middle;
	margin-top: 60px;
	margin-left: 100px;
    margin-right: 100px;
    text-decoration: none;

}

body {
	text-align: center;
	background-color: yellow;
}

h1 {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}