body	{
	background-color: #220122;
	background: cover;
	background: linear-gradient(-65deg, #7c00ff, #00ffb8);
	
}


/* how do I make a div that is not controlled by the main div—do I need to break that one into an identifier..probably

.full {
	background-color: blue;
	width:100%;
	height:auto;
	position: fixed;
}

*/


div	{
	display: inline-block;
	position: center;
	height: 300px;
	width: 300px;
	margin-left: -15%;
	margin-right:2%;
	margin-top:15%;
	border-radius: 100%;
	border: 1px black;


}


.full	{
	width:100%;
	height: auto;
	margin: auto;
	position: absolute;
}


.one	{
	background: yellow;
	

}

#l      {
	margin-left: 10%;
}

.two	{
	background: #29f222;
	

}

.three	{
	background: #e300ff;
	

}

.four	{
	background: tomato;
	
}

.five	{
	background: #d7d8e1;

}

p {

	font-family: Helvetica, sans-serif, regular;
	font-color: #333754;
	font-weight: bold;
	font-size: 75px;
	margin-left: 5%;
}


#marquee	{
	width: 100%;
	height: auto;
	font-family: Helvetica;
	font-size: 18px;
	margin-top: 325px;
	color: #e700c6;

}

#marquee_i	{
	width: 100%;
	height: auto;
	font-family: Helvetica;
	font-size: 14px;
	margin-top: 200px;
	color: #ccfdfc;

}

#marquee_ii	{
	width: 100%;
	height: 20px;
	font-family: Helvetica;
	font-size: 12px;
	color: tomato;

}





/*
.shape	{
	border: 1px red;
	max-width: 10px;
	max-height: 10px;

#shapey	{
	width: 10px;
	height: 10px;
}

How do I make this shape fit into the div box // or how do I specify the size the image should scale to? 
*/
