html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
ul li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none;}



body{
    background-color:#dedede;   
}


header{
    font-size:10em;
    text-align: center;
}

.boader{
    width:100%;
    height:auto;
}

div{
    position:relative;
    display: inline-block;
    overflow: hidden;
    float:left;
}

div p{
    position:absolute;
    display: inline-block;
    width:50%;
    left:44%;
    top:10px;
}

.img1{
    width:49.5%;
    height:400px;
    border: 1px solid lightgrey;
}

img{
    position:absolute;
    margin:10px;
    width:40%;
    height:95%;
}

.img2{
    width:99%;
    height:400px;
     border: 1px solid grey;
}
}