.rect{
    
    background-position: center;
    background-color:white;
    background-image: url(back.gif);
    background-size:100% 100%;
}

.block{
    width: 400px;
    height:100%;
    background-image: url(back.gif);
    position:fixed;
}
.title{
    -webkit-transform: rotate(90deg);
    color:#999999;
    font-family: Arial;
    font-weight: bold;
    font-size:70;
    width:300;
    margin-top:150px;
    margin-left:-80px;
    position: fixed;
}
.navigation{
    color:#999999;
    font-family: Arial;
    font-size: 15;
    font-weight: bold;
    line-height: 180%;
    width: 110;
    margin-left:250px;
    padding-top: 200px;
    position:fixed;
}
a:active,a:hover{
    color:#cccccc;
}
 a:visited, a{
    color:#999999;
    text-decoration: none;
    text-decoration-line: none;
}
.cover{
    padding-left:500;
    padding-top:200;
    width:800;
    height: 500;
    object-fit: contain; 
    position:fixed;
}
.pic{
    padding-left:450px;
    margin-right:50px;
    padding-top:100px;
    object-fit:contain;
    position:absolute;
}
p{
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    line-height: 130%;
    padding-left: 450px;
    width:fixed;
    margin-right:9%;
    position:relative;
}
.gap{
    padding-top:370px;
    position:absolute;
    padding-bottom:40px;
}
p1{
    font-family:arial;
    font-size:8px;
    color:#999999;
}
.contact{
    padding-top:750px;
    margin-left:20px;
    position:fixed;
}
.exhibit{
    padding-left: 450px;
    width:200px;
}
img{
    padding-top:20px; 
}
h2{
    font-family:arial;
    font-style:bold;
    color:#999999;
    font-size:20px;
}
.map{
    width:500px;
  height:auto;
    padding-left:450px;
    padding-top:200px;
  display:block;
    object-fit: contain;
    position:absolute;
}
.ongoing{
    padding-left:560;
    padding-top:150;
    position:fixed;
}