body {
    font-family: Arial, sans-serif;
    font-size: 21px;
    line-height: 1.2;
    background-image: url(back.gif);
    background-size:cover;
    color:#999999;
}
#background{
    height:auto;
    background-color:black;
}
span{
    font-size:20px;
    text-align: left;
    margin:0;
    vertical-align:middle;
}
.navigation{
    color:#999999;
    position:fixed;
    text-align:right;
    width:100%;
    left:0;
    top:0;
    padding-right:40px;
    background-color: inherit;
    font-size:20px;
}

a:active,a:hover{
    color:#cccccc;
}
 a:visited, a{
    color:#999999;
    text-decoration: none;
    text-decoration-line: none;
    display:inline-block;
    margin:20px;
}
section{
    position:static;
    display:inline-block;
    right:0;
    margin-left:20%;
    margin-top:15%;
    height:auto;
    width:auto%;
    line-height:none;
    margin-bottom:10%;
    float:left;
    padding-right:10%;
}

section img{
    width:100%;
    margin:0;
}

footer{
    position:static;
    display:inline-block;
    bottom:0;
    width:inherit;
    z-index:-100;
    font-size:12px;
}

.noguchi {
    display:block;
    position: fixed;
    top: 150px;
    left: -60px;
    transform: rotate(90deg);
    color:#999999;
    font-family: Arial;
    font-weight: bold;
    font-size:70px;
    z-index: 1;
}
button{
    position:absolute; left:48%;
    bottom:10%; 
}
#canvasImg{
    display:block;
    left :20px;
    top:20px;
    position:absolute;
    width: 70px;
    height:70px;
    object-fit: contain;
}

@media screen and (max-width:750px){
    body{
        font-size:18px;
    }
    nav.navigation{
        font-size:15px;
        float:none;
        position:static;
        text-align:center;
        margin-bottom:30px;
    }
    nav a{
        justify-content: space-around;
    }
    a, a:visited{
       margin:10px
    }
    h1 a{
        margin:0;
        padding:0;
    }
    .noguchi{
        transform:rotate(0);
        width:100%;
        margin:40 auto;
        text-align: center;
        top:auto;
        left:auto;
        position:static;
    }    
    section{
        position:static;
        display:block;
        padding:0;
        margin:0 auto;
        margin-bottom:10%;
        padding:10%;

    }
    section a{
        position:static;
        display:block;
        width:100%;
        height:auto;
        margin:auto;
    }
    section img, section a, section a:link{
        margin:0;
        padding:0;
        display:inline-block;
        width:100%;
        height:auto;
    }
}

/*


}
.rect{
    
    background-position: center;
    background-size:contain;
    background-color:white;
    background-image: url();
}
.block{
    width: 400px;
    height:100%;
    background-image: url(back.gif);
    object-fit: contain;
    position:fixed;
}
.cover{
    padding-left:500;
    padding-top:200;
    width:800;
    height: 500;
    object-fit: contain; 
    position:fixed;
}
.pic{
    padding-left:450px;
    width:700px;
    height:auto;
    padding-top:100px;
    object-fit:contain;
    position:fixed;
}
p{
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    line-height: 130%;
    padding-left: 450px;
    width:fixed;
    margin-right:9%;
    position:relative;
}
.gap{
    padding-top:370px;
    position:absolute;
    padding-bottom:40px;
}
p1{
    font-family:arial;
    font-size:8px;
    color:#999999;
}
.contact{
    padding-top:750px;
    margin-left:20px;
    position:fixed;
}
.exhibit{
    padding-left: 450px;
    width:200px;
}
img{
    padding-top:20px; 
}
h2{
    font-family:arial;
    font-style:bold;
    color:#999999;
    font-size:20px;
}
.map{
    padding-left:450px;
    width:700px;
    height:auto;
    padding-top:200px;
    object-fit:contain;
    position:fixed;
}
.ongoing{
    padding-left:560;
    padding-top:150;
    width:200px;
    position:fixed;
}

*/