body{
    background-color:white;
    text-decoration:none;
    text-decoration-line: none;
    font-size:30px;
    text-decoration-color: none;
    font-family: "Arial black", gadget, sans-serif;
/*    background-image: url(lockedroomdoor.jpg);*/
}

#vid1 {
    width:200px;
    height: 350px;
    margin-top: 350px;
    margin-left: 100px;
    position: absolute;
}

#vid2 {
    width: 150px;
    height: 250px;
    margin-top: 18px;
    margin-left: 1150px;
    position: absolute;
}

#vid3 {
    width: 350px;
    height: 550px;
    margin-top: 300px;
    margin-left: 880px;
    position: absolute;
}

p {
    font-family: serif;
    line-height: 5px;
    position: relative;
    margin-left: 10px;
    margin-right: 190px;
}

h1,h2,h3,h4,ul {
    position: absolute;
    line-height: 25px;
    font-family: "Arial";
    left: 420px;
    z-index: 2;
}

h1 {
  top: 340px;
  font-size: 30px;
  left: 340px;
}

h2 {
  top: 400px;
  font-size: 20px;  
  left: 400px;
  width: 300px;
}
 
ul {
    list-style-type: none;
    top: 460px;
    width: 300px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: inherit;
    border: 2px solid black;
    font-size: 5vw;
    box-shadow: 20px 20px black;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
}

a:hover {
      background-color: lightpink;
      border: 10px solid red;
      color: white;
      box-shadow: 20px 20px red;
}

a:active {
      box-shadow: 1px 1px red;
      position: relative;
      line-height: 10px;
}