body {
    background-color: white;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 30px;
    text-decoration-color: none;
    font-family: "Arial black", gadget, sans-serif;
    /*    background-image: url(lockedroomdoor.jpg);*/
}

#vid1 {
    width: 400px;
    height: 230px;
    margin-top: 350px;
    margin-left: -100px;
    position: absolute;
}

#vid2 {
    width: 300px;
    height: 170px;
    margin-top: 50px;
    margin-left: 1110px;
    position: absolute;
}

#vid3 {
    width: 610px;
    height: 350px;
    margin-top: 340px;
    margin-left: 800px;
    position: absolute;
}

p {
    font-family: serif;
    line-height: 5px;
    position: relative;
    margin-left: 10px;
    margin-right: 190px;
}

h1,
h2,
h3,
h4,
ul {
    position: absolute;
    line-height: 25px;
    font-family: "Arial";
    left: 420px;
    z-index: 2;
}

h1 {
    top: 340px;
    font-size: 30px;
    left: 340px;
    font-family: serif;
}

h2 {
    top: 400px;
    font-size: 20px;
    left: 400px;
    width: 300px;
}

ul {
    list-style-type: none;
    top: 460px;
    width: 300px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    border: 2px solid black;
    font-size: 5vw;
    box-shadow: 20px 20px black;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
}

a:hover {
    background-color: white;
    border: 30px solid black;
    color: white;
    box-shadow: 20px 40px red;
}

a:hover p {
    font-family: "Verdana", sans-serif;
    color: red;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 100px;
}

a:active {
    box-shadow: 1px 1px red;
    position: relative;
    line-height: 10px;
}
