body {
    font-family: "Oswald", "Arial", sans-serif;
}

.speaker {
	height: 30px;
	width: 30px;
	position: relative;
	overflow: hidden;
    display: inline-block;
}

h1 {
    font-size: 100px;
    position: absolute;
    top: 500px;
    left: 30px;
    line-height: 105px;
    color: 	#E8E8E8;
    z-index: 5;
    width: 300px;
}

a {
    text-decoration: none;
}
    

p{
    font-family: serif;
    font-size: 10px;
    width: 100px;
}

.box {
    position: absolute;
    width: 400px;
    height: 750px;
    border: 10px solid black;
    top:30px;
    left: 0px;
    background-color: transparent;
}

#pseudo {
    position: absolute;
    width: 20px;
    height: 800px;
    border: 20px solid #F8F8F8;
    top:-20px;
    left: 520px;
    background-color: transparent;
}

#pseudo1 {
    position: absolute;
    width: 20px;
    height: 800px;
    border: 20px solid #F8F8F8 ;
    top:-20px;
    left: 620px;
    background-color: transparent;
}

#pseudo2 {
    position: absolute;
    width: 16px;
    height: 800px;
    border: 20px solid #F8F8F8 ;
    top:-20px;
    left: 720px;
    background-color: transparent;
}

#pseudo3 {
    position: absolute;
    width: 18px;
    height: 800px;
    border: 20px solid #F8F8F8 ;
    top:-20px;
    left: 822px;
    background-color: transparent;
}

#pseudo4 {
    position: absolute;
    width: 10px;
    height: 800px;
    border: 20px solid #F8F8F8;
    top:-20px;
    left: 925px;
    background-color: transparent;
}

#imgDescription {
    top: 65px;
    left: 492px;
    position: relative;
    z-index: 1;
    color: white;
    padding: 10px;
    background: red;
    visibility: hidden;
    opacity: 0;
}

#imgDescription2 {
    top: 250px;
    left: 590px;
    position: absolute;
    z-index: 3;
    color: white;
    padding: 10px;
    background: red;
    visibility: hidden;
    opacity: 0;
}

#imgDescription3 {
    top: 350px;
    left: 690px;
    position: absolute;
    z-index: 3;
    color: white;
    padding: 10px;
    background: red;
    visibility: hidden;
    opacity: 0;
}

#imgDescription4 {
    top: 450px;
    left: 790px;
    position: absolute;
    z-index: 3;
    color: white;
    padding: 10px;
    background: red;
    visibility: hidden;
    opacity: 0;
}

#imgDescription5 {
    top: 550px;
    left: 920px;
    position: absolute;
    z-index: 3;
    color: white;
    padding: 10px;
    background: red;
    visibility: hidden;
    opacity: 0;
}

#imgpreview {
    position: absolute;
    width: 350px;
    height: auto;
    top: 55px;
    left: 35px;
    z-index: 3;
    display: none;
 
}


#whole:hover #imgDescription, #whole:hover #imgpreview {
  visibility: visible;
  opacity: 1;
  display: block;

}

#string:hover, #string2:hover, #string3:hover, #string4:hover, #string5:hover {
    background:red;
}

#whole1:hover #imgDescription2, #whole1:hover #imgpreview{
  visibility: visible;
  opacity: 1;
  display: block;
}

#whole2:hover #imgDescription3, #whole2:hover #imgpreview {
  visibility: visible;
  opacity: 1;
  display: block;
    
}

#whole3:hover #imgDescription4, #whole3:hover #imgpreview {
  visibility: visible;
  opacity: 1;
  display: block;
}

#whole4:hover #imgDescription5, #whole4:hover #imgpreview {
  visibility: visible;
  opacity: 1;
  display: block;
}


#string {
    font-size: 25px;
    color: white;
    top: 60px;
    left: 500px;
    position: fixed;
    z-index: 3;
    background: orange;
    padding: 5px;
    font-family: "Arial"
}

#string2 {
    font-size: 25px;
    color: white;
    left: 590px;
    top: 200px;
    position: fixed;
    z-index: 3;
    background: orange;
    padding: 5px;
    font-family: "Arial"
}

#string3 {
    font-size: 25px;
    color: white;
    position: fixed;
    top: 300px;
    left: 690px;
    z-index: 3;
    background: orange;
    padding: 5px;
    font-family: "Arial"
}

#string4 {
    font-size: 25px;
    color:  white;
    position: fixed;
    top: 400px;
    left: 790px;
    z-index: 3;
    background: orange;
    padding: 5px;
    font-family: "Arial"
}

#string5 {
    font-size: 25px;
    color: white;
    position: fixed;
    top: 500px;
    left: 920px;
    z-index: 3;
    background: orange;
    padding: 5px;
    font-family: "Arial"
}


#firststring {
    position: absolute;
    top: 0px;
    left: 540px;
    width: 20px;
    height: 800px;
    float: left;

}

#firststring2 {
    position: absolute;
    top: 0px;
    left: 640px;
    width: 20px;
    height: 800px;
    float: left;
}

#firststring3 {
    position: absolute;
    top: 0px;
    left: 740px;
    width: 20px;
    height: 800px;
    float: left;
}

#firststring4 {
    position: absolute;
    top: 0px;
    left: 840px;
    width: 20px;
    height: 800px;
    float: left;
}

#firststring5 {
    position: absolute;
    top: 0px;
    left: 940px;
    width: 20px;
    height: 800px;
    float: left;
}