* {
	background-color:black;
	font-family:Courier New; Courier; Helvetica; sans-serif
	margin-top:8px;
	margin-left:15px;
	margin-botton:15px;
	margin-right:8px;
	display:inline-block;
	float:clear

}



.div {
	height:400px;
	width:400px 
	display:inline;
	font-family:Courier, sans-serif;
	font-size:100px;
	margin-top:250px;
	padding:50px;
	
}


}

.invite {
	height:400px;
	width:400px;
	display:center-inline;
	background-color:red;
	text-decoration:none;
	font-size:36px;
	

}


#id {

	font-family:Courier;sans-serif;
	font-size:100px;

}


#diane {
	color: purple;
	font-family: Courier New, Courier, sans-serif;
	font-size:42px;
	height:100px;
	width:100px;
	display:inline;
	text-decoration:none;
	position:centered;
	text-decoration:none;
	cursor:crosshair;

}



a:link {
	text-decoration:none;
}


a:hover {
	color:gray;
	text-decoration:none;
	cursor:crosshair;
}

#info {
	font-family:Courier New; Courier; Helvetica; sans-serif;
	margin-top:300px;
	margin-left:15px;
	margin-botton:15px;
	margin-right:8px;
	display:inline-block;
	color: purple;
	font-size: 32px;

}

#exhibition {
	display:left;
	color:gray;
	font-size:24px;
	
}

#met {
	color:gray;
	text-indent:18px;
	font-size:16px;
	
}

#gram {
	color: white;
	text-indent:-4px;
}






	