* {
	background-color:black;
	font-family: Courier New; Courier; Helvetica; sans-serif
	margin-top:8px;
	margin-left:15px;
	margin-bottom:15px;
	margin-right:8px;
	display:inline-block;
	float:clear

}



