html {
  box-sizing: border-box;
}


images {
    white-space: nowrap;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    position:relative;
    width:auto;
    height:auto;
    display: block;
}


images {
    width: 1440px;
}

html, body {
    width: 1440px;
}

