html, body {
  background: white;
  text-align: center;
  height: 100%;
  overflow: hidden;
}
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;    
}

.shape {
  stroke-dasharray:  100%;
  stroke-dashoffset:  100%;
  stroke-width: 10px;
  fill: transparent;
  stroke: black;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: "Gotham-bold";
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: black;
  top: -210px;
  position: relative;
}

.svg-wrapper:hover .shape {
  stroke-width: 10px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1540;
}