html { 
    font-size: 100%; 
    webkit-text-size-adjust: 100%; 
    ms-text-size-adjust: 100%; }

html, button, input, select, textarea { 
    font-family: sans-serif; 
    color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }


a { color: #000; text-decoration: none; }
a:visited { color: #000; }
a:hover { color: #000; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }




figure { margin: 0; }

body {
	font-size: 13px;
}



.thumbswrap {
	max-width: 790px;
	margin: 0 auto 20px;
}
.col1, .col2, .col3 {
	width: 250px;
	float: left;
}
.col1, .col2 {
	margin-right: 20px;
}
figure {
	position: relative;
}
figcaption {
	text-align: center;
	padding-bottom: 40px;
}
#workthumbs img {
	-moz-box-shadow: 0 2px 8px #888;
	-webkit-box-shadow: 0 2px 8px #888;
	box-shadow: 0 2px 8px #888;
}



.imgs2 .i1 {
	position: absolute;
	left: 30px; top: 5px;
	z-index: 10;
}
.imgs2 .i2 {
	position: absolute;
	left: 20px; top: 15px;
	z-index: 11;
}

.imgs3 .i1 {
	position: absolute;
	left: 35px; top: 5px;
	z-index: 10;
}
.imgs3 .i2 {
	position: absolute;
	left: 25px; top: 15px;
	z-index: 11;
}
.imgs3 .i3 {
	position: absolute;
	left: 15px; top: 25px;
	z-index: 12;
}

.imgs4 .i1 {
	position: absolute;
	left: 40px; top: 5px;
	z-index: 10;
}
.imgs4 .i2 {
	position: absolute;
	left: 30px; top: 15px;
	z-index: 11;
}
.imgs4 .i3 {
	position: absolute;
	left: 20px; top: 25px;
	z-index: 12;
}
.imgs4 .i4 {
	position: absolute;
	left: 10px; top: 35px;
	z-index: 13;
}

.imgs5 .i1 {
	position: absolute;
	left: 45px; top: 5px;
	z-index: 10;
}
.imgs5 .i2 {
	position: absolute;
	left: 35px; top: 15px;
	z-index: 11;
}
.imgs5 .i3 {
	position: absolute;
	left: 25px; top: 25px;
	z-index: 12;
}
.imgs5 .i4 {
	position: absolute;
	left: 15px; top: 35px;
	z-index: 13;
}
.imgs5 .i5 {
	position: absolute;
	left: 5px; top: 45px;
	z-index: 14;
}




  
  
