   html, body {
            font-family: "Arial";
        }
/*        use downloaded opentype font and locate it on your machine then name it and then label all your font-family in quotations to work*/
        @font-face {
            src: url ('worksans.otf');
            font-family: "work!"
        }
/*        This applies padding in proportion to the base unit */
        body {
            padding: 2rem;
        }
        
        h1 {
            font-size: 8.5rem;
            letter-spacing: 0.01rem;
            line-height: 8.0rem;
            word-spacing: -0.01rem;
            margin-bottom: 10px;
            
        }
/*        transform text */
        h2 {
            text-transform: uppercase;
            font-size: 2.5rem;
            margin-bottom: 75px;
    
        }
        
        h3 {
            margin-bottom: 1rem;
            font-size: 1.3rem;
            font-style: normal;
            line-height: 1rem;
        }
    
        ol {
            font-family: "Arial";
/*            padding-left:10em;*/
        }

        li {
            padding-left: 2rem;
        }

        p {
            font-family: "Arial";
            padding-left: 2rem;
        }

        .first {
            text-indent: 0;
        }

        @media all and (max-width: 830px) {
            h1 {
            font-size: 3.5rem;
            line-height: 3.2rem;
            }
            
            h2 {
            text-transform: uppercase;
            font-size: 1.5rem;
            }
            
            ol {
            font-family: "Arial Black";
            padding-left:1em;
            }
        }
         @media all and (min-width: 831px) {
             p {
                 padding-right:10rem;
             }
        }
        @media all and (min-width: 1000px) {
             p {
                 padding-right:11   rem;
             }
        }
