body {
    background-image: url("matrix.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
            
.button {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
    }
            
.name {
    margin-top: 40px;
/*    margin-left: auto;*/
    margin-right: auto;
    padding: auto;
/*    height: 10px;*/
    width: 80%;
    }   

.intro {
    margin-top: -20px;
    margin-left: 20px;
/*    margin-right: auto;*/
    padding: auto;
/*    height: 200px;*/
    text-align: left;
    width: 65%;
    
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
    line-height: 50px;
/*    letter-spacing: -15px;                */

    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    
    } 

button {
    font-family: 'Old Standard TT', serif;
    font-size: 150px;
    line-height: 120px;
    letter-spacing: -15px;  
    text-align: left;


    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
    }