.psycho{
    background-image: url("psycho1.jpg");
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    text-align: center;
    text-decoration-color: black;
}
.title{
    vertical-align: middle;
    text-align: center;
    color: red;
}
.barn{
    background-image:url("barn2.jpg");
    background-size:cover;
    background-position:center;
    vertical-align:middle;
}
.enter{
    font-family:serif;
    font-size: 16;
    text-align: right;
    color:red;
    position:relative;
    z-index:1;
    top:65%;
    transform: translate(0,-70%);
    height:20%;
    min-width: 320;
    max-width: 330;
    margin-left: auto;
    margin-right:auto;
    line-height: 1.5;
}
a{
    text-decoration: none;
    text-decoration-line: none;
}
a:link, a:visited, a:hover {
    color: red;
}
a:hover{
    font-size: 400%;
}
.house{
    background-color:black;
    background-size:cover;
    background-position:center;
}
.info{
    font-family:serif;
    font-size: 20;
    color:red;
    position:relative;
    z-index:1;
    top:65%;
    transform: translate(0,-70%);
    height:75%;
    min-width: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
    line-height: 1.5;
    
}
.special:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('hopper.jpg');
    background-size:contain;
}

.special2:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('psycho3.gif');
    background-size:contain;
}
.special3:hover::before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('sculpture.jpg');
    background-size:cover;
    background-position: center;
}
.special4:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('parker.jpg');
    background-size:cover;
    background-position: center;
}
.special5:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('redbarn.jpg');
    background-size:contain;
    background-position: center;
}
.special6:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('garden.jpg');
    background-size:contain;
    background-position:center;
}
.special7:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('illusion.jpg');
    background-size:cover;
    background-position: center;
}
.special8:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('back.jpg');
    background-size:cover;
    background-position: center;
}
.special9:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('park.gif');
    background-size:cover;
    background-position: center;
}
.special10:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('skyline.gif');
    background-size:cover;
    background-position: center;
}
.special11:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('barn.jpg');
    background-size:cover;
    background-position: left;
}
.special12:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background: url('map.png');
    background-size:cover;
    background-position: center;
}